// Переменные пишется $
$max-width-container: 1200px;


// Fonts

$font-family-main: "Roboto", sans-serif;

// Colors
$primary-color: #195ABB;
$secondary-color: #F8F9FF;
$text-color: #4E4E4E;
$border-color: #195ABB80;
$border-color-th: #D6D5D5;

